body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  #program-info {
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  #program-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .program-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .program-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .program-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .program-card p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .ingredients-container {
    margin-top: 20px;
  }
  
  .ingredients-container h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .ingredients-container ul {
    padding: 0;
  }
  
  .ingredients-container li {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
  }

  .nutrition-container {
    margin-top: 20px;
  }
  
  .nutrition-container h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .nutrition-container ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 5rem;
  }
  
  .nutrition-container li {
    flex: 0 0 33.3%; 
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  